---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import About from '../components/About.astro';
import Menu from '../components/Menu.astro';
import Gallery from '../components/Gallery.astro';
import Reservation from '../components/Reservation.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import OrderModal from '../components/OrderModal.astro';
---
<Base>
  <Nav />
  <main>
    <Hero />
    <Marquee />
    <About />
    <Marquee dark />
    <Menu />
    <Gallery />
    <Reservation />
    <Contact />
  </main>
  <Footer />
  <OrderModal />
</Base>
